.parent {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.child {
  height: 200px;
  width: 200px;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
